.c-quote {
  background-color: rgba(0, 0, 0, 0.02);
  margin-top: 20px;
  width: 100%;
  max-width: calc(100% - 26px);
  text-align: left;
  box-shadow: inset 1px 3px 3px 0px rgba(0,0,0,0.2);
  border-left: 6px solid #00FFCC;
  min-height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  transition: background-color 0.5s;
}

.c-quote--button-shown {
  background-color: #00FFCC;
}

.c-quote__switch-user {
  font-size: 1.125rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.c-quote__error {
  font-size: 1rem;
  color: red;
}
