.c-switch-user-button {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
}

.c-switch-user-button__savings {
  font-weight: 700;
  font-size: 20px;
}

.c-switch-user-button__result {
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  padding: 20px;
}
