.c-details {
  margin-top: 20px;
  padding: 1rem;
}

.c-details__field {
  display: block;
}

.c-details__input {
  margin: 6px 0 24px;
  width: calc(100% - 1rem);
}

.c-details__update-btn {
  padding: 20px 0;
}

.c-details__update-btn__floating {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
}
