.c-details {
  margin-top: 20px;
  padding: 1rem;
}

.c-details__field {
  display: block;
  cursor: pointer;
  position: relative;
}

.c-details__field--boolean {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.c-details__field__checkbox {
  margin-right: 0.5rem;
}

.c-details__input {
  margin: 6px 0 24px;
  width: calc(100% - 1rem);
}

.c-details__spinner {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  padding-right: 6px;
}

.c-details__update-btn {
  padding: 20px 0;
}

.c-details__update-btn__floating {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
}
