.c-switch-user__btn {
  font-size: 14px;
  border: none;
  cursor: pointer;
  background: none;
  width: 100%;
  text-align: left;
  line-height: 1.8;
}

.c-switch-user__savings {
  font-weight: 700;
  font-size: 20px;
}

.c-switch-user__result {
  font-weight: 700;
  font-size: 20px;
}
