.c-intro {
  max-width: 500px;
  margin: 5rem auto 0;
}

.c-intro__text-section {
  padding: 0 20px;
  margin-bottom: 1rem;
}

.c-intro__heading {
  margin-bottom: 0.5rem;
}

.c-intro__quote-error {
  color: red;
  font-size: 1rem;
  padding: 0 20px;
  line-height: 1.5;
  display: inline-block;
}
